
<%= bloggetcookie("api_key") %>
<h1> Users </h1>
<table class ="table table-bordered" >
<thead>
<tr>
<th>Name </th>
<th>Email </th>
</tr>
</thead>

<tbody>

<% _.each(users,function(user){ %>

<tr>
<td><%= user.get('name')%></td>
<td><%= user.get('email') %></td>
</tr>

<% }); %>

</tbody>
</table>
