<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    Blogger App: Keep blogging
  </h2>

  <a href="#login" class = "btn btn-lg btn-primary">Login </a>
  <a href="#new" class = "btn btn-lg btn-primary">Signup</a>
</div>

